@model HB.Web.Shared.ViewModels.BaseViewModel<IList<HB.Services.Models.Books.Dto.BookDto>>
@{
    Layout = null;
}
    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        Product name
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Author
                    </td>
                    <td>
                        ISBN
                    </td>
                    <td>
                        Pagecount
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Payload)
                {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.Price.ToString("C", HB.Web.Shared.Localization.Cultures.UnitedKingdom)
                    </td>
                    <td>
                        @product.Author
                    </td>
                    <td>
                        @product.ISBN
                    </td>
                    <td>
                        @product.PageCount
                    </td>
                    <td>
                        @Html.ActionLink("Buy", "AddToProductBasket", "ShoppingBasket", new {productId = product.Id }, null)
                    </td>  
                </tr>
                }
            </tbody>
        </table>
    </div>

