@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        <thead>
            <tr>
                <td>
                    Product name
                </td>
                <td>
                    Description
                </td>
                <td>
                    Price
                </td>
                <td>
                    Length
                </td>
                <td>
                    AgeRestriction
                </td>
                <td>
                    Genre
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Payload)
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.Price.ToString("C", HB.Web.Shared.Localization.Cultures.UnitedKingdom)
                    </td>
                    <td>
                        @product.Length
                    </td>
                    <td>
                        @product.AgeLimit
                    </td>
                    <td>
                        @product.Genre
                    </td>
                    <td>
                        @Html.ActionLink("Buy", "AddToProductBasket", "ShoppingBasket", new { productId = product.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


